<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.ActionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>com.cg.bdd.servlet.SelectionControllerServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GenerateFeatureFilesServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.GenerateFeatureFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/a.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher1</servlet-name>
    <servlet-class>com.cg.bdd.servlet.SelectionControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher1</servlet-name>
    <url-pattern>/b.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditFeatureFileServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.EditFeatureFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExecuteAUTAutomationServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.ExecuteAUTAutomationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfigureServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.ConfigureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ALMToolServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.ALMToolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigureServlet</servlet-name>
    <url-pattern>/ConfigureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditFeatureFileServlet</servlet-name>
    <url-pattern>/EditFeatureFileServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GenerateFeatureFilesServlet</servlet-name>
    <url-pattern>/GenerateFeatureFiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteAUTAutomationServlet</servlet-name>
    <url-pattern>/ExecuteAUTAutomationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateFeatureFileServlet</servlet-name>
    <servlet-class>com.cg.bdd.servlet.CreateFeatureFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFeatureFileServlet</servlet-name>
    <url-pattern>/CreateFeatureFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/ActionServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ALMToolServlet</servlet-name>
    <url-pattern>/ALMToolServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>abc</param-name>
    <param-value>D:\NewFileUpload\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\CSA_BDD\</param-value>
  </context-param>
  <context-param>
    <param-name>abc1</param-name>
    <param-value>D:\NewFileUpload\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\ABC\</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>FinalLanding1.jsp</welcome-file>
  </welcome-file-list>
</web-app>